[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "survBootOutliers"]
	path = survBootOutliers
	url = https://github.com/jonydog/survbootoutliers
